{% extends 'core/template_site.html' %}

{% block title %}Поиск пары{% endblock %}

{% block content %}
<div style="max-width: 400px;">
    {% if random_user %}
    <div class="buttons-container-match">
        <form action="{% url 'matching:like' random_user.id %}" method="post">
            {% csrf_token %}
            <button class="like" type="submit">Нравится</button>
        </form>

        <form method="POST" action="{% url 'matching:dislike' random_user.id %}">
            {% csrf_token %}
            <button class="dislike" type="submit">Не нравится</button>
        </form>
    </div>
    <div class="pair-profile-match">
        <div class="avatar">
            <img src="{{ random_user.photo.url }}" alt="Аватар" class="profile-image-style">
        </div>
        <div class="profile-field-match">
            <p>Имя: {{ random_user.name }}</p>
            <p>Возраст: {{ random_user.age }}</p>
            <p>Город: {{ random_user.city }}</p>
            <p>Пол: {{ random_user.get_gender_display }}</p>
            <p>О себе: {{ random_user.bio }}</p>
        </div>
    </div>
    {% else %}
    <p class="or-text" style="font-size: 24px;">Пользователи не найдены!</p>
    {% endif %}
</div>
{% endblock %}