{% extends 'accounts/template_site.html' %}

{% block title %}Удалить аккаунт{% endblock %}



{% block content %}
<div class="form-container">
	<h3 class="text-delete">ВЫ УВЕРЕНЫ, ЧТО ХОТИТЕ УДАЛИТЬ АККАУНТ?</h3>
	<form method="get" action="{% url 'core:profile' %}">
		<button type="submit" class="cancel-delete-profile">Отменить удаление аккаунта</button>
	</form>
	<form method="post">
		{% csrf_token %}
		<button type="submit" class="delete-profile">Удалить аккаунт</button>
	</form>
</div>
{% endblock %}