{% extends 'accounts/template_site.html'%}

{% block title %}Вход{% endblock %}


{% block content %}

<div class="form-container">
	<form method="POST">
		{% csrf_token %}
		{{ form.username }}
        {{ form.password }}
		<button type="submit">Войти</button>
	</form>
</div>

{% endblock %}