{% extends 'accounts/template_site.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}

<div class="form-container">
    <form action="" method="POST">
        {% csrf_token %}
        <!-- {{ form.username }}
        {{ form.password1 }}
        {{ form.password2 }}
        {{ form.name }}
        {{ form.age }}
        {{ form.city }}
        <p class="form-container">
            <select class="custom-select" name="{{ form.gender.name }}" id="{{ form.gender.id_for_label }}">
                {% for value, label in form.gender.field.choices %}
                <option value="{{ value }}" {% if form.gender.value == value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </p>
        <textarea class="custom-textarea">{{ form.bio.value }}</textarea>
        {{ form.photo }} -->
        {{form}}
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>

{% endblock %}
