{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}">
</head>

<body>
	<div class="logo">
		<img src="/static/core/media/logo_name2.png">
	</div>
	{% block content %}

	{% endblock %}
</body>

</html>