{% extends 'accounts/template_site.html' %}

{% block title %}Редактировать профиль{% endblock %}

{% block content %}
<div class="form-container">
	<form method="POST" action="" enctype="multipart/form-data">

		{% csrf_token %}
		{{ form.name }}
		{{ form.age }}
		{{ form.city }}
        <p class="form-container">
            <select class="custom-select" name="{{ form.gender.name }}" id="{{ form.gender.id_for_label }}">
                {% for value, label in form.gender.field.choices %}
                <option value="{{ value }}" {% if form.gender.value == value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </p>
		<textarea class="custom-textarea" name="{{ form.bio.name }}">{{ form.bio.value }}</textarea>

		<p style="font-size: 0px;">{{ form.photo }}</p>
		
		<button class="cancel-delete-profile" type="submit">Сохранить изменения</button>
	</form>
</div>
{% endblock %}
