{% extends 'core/template_site.html'%}

{% block title %}Сайт знакомств{% endblock %}


{% block content %}

{% if user.is_authenticated %}



<div class="profile-field">
		<p style="font-size: 22px; text-align:center; width: 400px;">
			Добро пожаловать, {{ user.username }}!<br>
		</p>
		<p style="font-size: 22px; text-align:justify; width: 400px;">
			Найдите новые знакомства и общайтесь с интересными людьми.
		</p>

	</div>
</div>

{% else %}

<div class="buttons-container">
	<form action="{% url 'accounts:register' %}" method="post">
		{% csrf_token %}
		<button type="submit">Зарегистрироваться</button>
	</form>
	<h3 class="or-text">или</h3>
	<form action="{% url 'accounts:login' %}" method="post">
		{% csrf_token %}
		<button type="submit">Войти</button>
	</form>
</div>

{% endif %}

{% endblock %}