{% extends 'core/template_site.html' %}

{% block content %}
<div style="max-height: 500px; margin-top: -200px;">
    <div class='profile-field'>
        <img src="{{ user.photo.url }}" alt="Фото профиля" class="profile-image-style">
        <p>Имя: {{ user.name }}</p>
        <p>Логин: {{ user.username }}</p>
        <p>Пол: {{ user.gender }}</p>
        <p>Возраст: {{ user.age }}</p>
        <p>Город: {{ user.city }}</p>
        <p>О себе: {{ user.bio }}</p>

        <a href="{% url 'accounts:update' %}">Редактировать профиль</a>
        <a href="{% url 'accounts:logout' %}">Выйти</a>
        <a class="delete-profile" href="{% url 'accounts:delete' %}">Удалить профиль</a>
    </div>
</div>
{% endblock %}
