{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
</head>

<body>
	
	{% if not user.is_authenticated %}
	<div class="logo">
		<img src="/static/core/media/logo_name2.png">
	</div>
	{% else %}
	<div class="header">
		<div class="menu">
			<a href="{% url 'stories:story_list' %}" >Истории</a>
			<a href="{% url 'matching:search_pair' %}">Поиск пары</a>
		</div>
		<div class="logo-menu">
			<img src="/static/core/media/logo_name2.png">
		</div>
		<div class="menu">
			<a href="{% url 'core:profile' %}">Мой профиль</a>
			<a href="{% url 'messaging:dialog_list' %}">Сообщения</a>
		</div>
	</div>
	{% endif %}

	{% block content %}

	{% endblock %}
</body>

</html>

