{% extends 'core/template_site.html' %}

{% block title %}Сообщения{% endblock %}

{% block content %}
    {% for dialog in dialogs %}
        <a class="list-dialog" href="{% url 'messaging:dialog_detail' dialog_id=dialog.id %}">
            {% if dialog.user1 == user %}
                <img src="{{ dialog.user2.photo.url }}" alt="User Photo" width="40" height="40">
                {{ dialog.user2.name }}
            {% else %}
                <img src="{{ dialog.user1.photo.url }}" alt="User Photo" width="40" height="40">
                {{ dialog.user1.name }}
            {% endif %}
        </a>
    {% empty %}
        <p class="or-text">Нет диалогов!</p>
    {% endfor %}
{% endblock %}
