{% extends 'core/template_site.html' %}

{% block title %}Сообщения{% endblock %}

{% block content %}
<h2 class="list-dialog">
	<img src="{{ dialog.user2.photo.url }}" alt="User Photo" width="40" height="40">
	{{ dialog.user2.name }}
</h2>

{% for message in messages %}
    <p class="button-dialog" style="margin:0; font-family: Georgia; width: 400px; ">{{ message.sender.name }}: {{ message.content }}</p>
{% empty %}
    <p>Нет сообщений!</p>
{% endfor %}


<form method="post" action="{% url 'messaging:message_create' dialog_id=dialog.id %}">
	{% csrf_token %}
	<input class="input-dialog" type="text" name="content" placeholder="Введите сообщение" required>
	<button class="button-dialog" type="submit">&ensp;⬆&ensp;</button>
</form>
{% endblock %}