body {
	background-image: url("/static/core/media/background.jpeg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: Georgia;
	background-attachment: fixed;
}



.logo {
	margin-top: 0px;
}

.buttons-container {
	text-align: center;
	margin-top: 10px;
}

.buttons-container button {
	padding: 10px 40px;
	font-size: 18px;
	margin: 10px;
	background-color: #253b6e;
	border: 2px solid #182748;
	border-radius: 15px;
	color: white;
	display: block;
	width: 100%;
	font-family: Georgia;
}

.or-text {
	font-family: Georgia;
	margin-top: 10px;
	color: white;
	text-shadow: #182748 0 -1px;
	text-shadow: 1px 1px 0px #182748, -1px -1px 0px #182748, 1px -1px 0px #182748, -1px 1px 0px #182748;
}





.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: #253b6e;
	color: white;
}

.menu a {
	font-size: 26px;
	margin: 25px;
	color: white;
	text-decoration: none;
	font-family: Georgia;

}


.logo-menu img {
	max-width: 120px;
	height: auto;
}

.content-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	margin-top: 20px;
}

.profile-image-style {
	border: 10px solid #182748;
	border-radius: 15px;
	max-width: 350px;
	height: auto;
}

.profile-field {
	padding-bottom: 100px;
}

.profile-field p,
.profile-field a,
.profile-field a.delete-profile {
	background-color: #253b6e;
	border: 2px solid #182748;
	border-radius: 15px;
	padding: 7px;
	margin: 5px;
	color: white;
	font-size: 18px;
	font-family: Georgia;
	width: 350px;
	display: block;
	text-decoration: none;
}

.profile-field a,
.profile-field a.delete-profile {
	text-align: center;
}

.profile-field a:hover {
	background-color: #182748;
}

.profile-field a.delete-profile:hover {
	background-color: #d62f2f;
}




.story {
	width: 400px;
	margin: 10px auto;
	background-color: #d2ecf9;
	padding: 7px;
	border-radius: 15px;
	color: #253b6e;
	border: 2px solid #182748
}

.story p {
	font-family: Georgia;
	font-size: 16px;
	font-style: italic;
}

.story p.topic-story {
	font-size: 22px;
}

.story-controls {
	position: fixed;
	left: 0px;
	top: 70px;
	width: 250px;
}

.story-controls input[type="text"],
.story-controls button,
.story-controls a {
	padding: 10px 40px;
	margin: 10px;
	font-size: 18px;
	border: 2px solid #182748;
	border-radius: 15px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	background-color: #253b6e;
	color: white;
	text-decoration: none;
	text-align: center;
}

.story-controls input[type="text"] {
	background-color: #d2ecf9;
	color: #253b6e;
}

.story-controls a:hover,
.story-controls button:hover {
	background-color: #182748;
}





.form-container {
	text-align: center;
	margin-top: 10px;
	width: 400px;
}

.form-container input,
.form-container button {
	padding: 10px 20px;
	margin: 10px 0;
	font-size: 18px;
	border: 2px solid #182748;
	border-radius: 15px;
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.form-container input {
	background-color: #d2ecf9;
}

.form-container button {
	background-color: #253b6e;
	color: white;
}

.form-container button:hover {
	background-color: #182748;
}


.custom-textarea {
	padding: 10px 10px;
	margin: 10px 0;
	font-size: 18px;
	border: 2px solid #182748;
	border-radius: 15px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 400px;
	resize: vertical;
	background-color: #d2ecf9;
}

.form-container {
	margin: 20px auto;
	max-width: 400px;
	padding: 20px;
	border: 2px solid #182748;
	border-radius: 15px;
	background-color: #d2ecf9;
}

.form-container label {
	display: block;
	margin-bottom: 10px;
	font-family: Georgia;
	font-size: 18px;
	color: #253b6e;
	text-align: left;
}


.buttons-container-match button.like:hover {
	background-color: #d62f2f;
}


.buttons-container-match button.dislike:hover {
	background-color: #182748;
}


.buttons-container-match {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
	width: 400px;
}

.buttons-container-match button {
	flex: 1;
	padding: 7px;
	font-size: 18px;
	margin-top: 10px;
	background-color: #253b6e;
	border: 2px solid #182748;
	border-radius: 15px;
	color: white;
	display: block;
}


.pair-profile-match {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-height: 80vh;
}

.avatar img {
	border: 10px solid #182748;
	border-radius: 15px;
	max-width: 400px;
	height: auto;
	margin-bottom: 10px;
}

.profile-field-match p {
	background-color: #253b6e;
	border: 2px solid #182748;
	border-radius: 15px;
	padding: 7px;
	margin: 5px;
	color: white;
	font-size: 18px;
	font-family: Georgia;
	width: 400px;
	text-decoration: none;
}




.list-dialog{
	background-color: #253b6e;
	border: 2px solid #182748;
	border-radius: 15px;
	padding: 7px;
	margin: 5px;
	color: white;
	font-size: 20px;
	font-family: Georgia;
	width: 400px;
	text-decoration: none;
}

.button-dialog{
	background-color: #253b6e;
	border: 2px solid #182748;
	border-radius: 15px;
	color: white;
	padding: 10px;
}

.input-dialog{
	width: 350px;
	padding: 10px;
	margin: 10px 0;
	border: 2px solid #182748;
	border-radius: 15px;
	background-color: #d2ecf9;
}