{% extends 'core/template_site.html' %}

{% block title %}Добавить историю{% endblock %}

{% block content %}
<div class="form-container">
	<form method="post">
		{% csrf_token %}
		<label for="topic">Тема:</label>
		<input type="text" id="topic" name="topic" required>
		<label for="content">Содержание:</label>
		<textarea class="custom-textarea" id="content" name="content" required></textarea>
		<button type="submit">Добавить историю</button>
	</form>
</div>
{% endblock %}
