{% extends 'core/template_site.html' %}

{% block title %}Истории{% endblock %}

{% block content %}
<div>
	<div class="story-controls">
		<form method="GET">
			<input type="text" id="search" name="search" placeholder="Поиск по теме" value="{{ request.GET.search }}">
			<button type="submit">Поиск</button>
		</form>
		<div>
			<a href="{% url 'stories:add' %}">Добавить историю</a>
		</div>
	</div>

	<div style="max-height: 85vh;">
		{% for story in stories %}
		<div class="story">
			<p class="topic-story">{{ story.topic }}</p>
			<p>{{ story.content }}</p>
		</div>
		{% empty %}
		<p class="or-text" style="font-size: 24px;">Нет доступных историй.</p>
		{% endfor %}
	</div>
</div>
{% endblock %}
