body {
	background-image: url("/static/core/media/background.jpeg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.logo {
	margin-bottom: 20px;
}

.form-container {
	text-align: center;
	margin-top: 10px;
}

.form-container input,
.form-container button {
	padding: 10px 40px;
	margin: 10px 0;
	font-size: 18px;
	border: 2px solid #182748;
	border-radius: 15px;
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.form-container input {
	background-color: #d2ecf9;
}

.form-container button {
	background-color: #253b6e;
	color: white;
}

.form-container button.delete-profile:hover {
	background-color: #d62f2f;
}

.form-container button.cancel-delete-profile:hover {
	background-color: #182748;
}

.custom-select {
	padding: 10px 40px;
	margin: 10px 0;
	font-size: 18px;
	border: 2px solid #182748;
	border-radius: 15px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	background-color: #d2ecf9;
}

.custom-textarea {
	padding: 10px 40px;
	margin: 10px 0;
	font-size: 18px;
	border: 2px solid #182748;
	border-radius: 15px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 150px;
	resize: vertical;
	background-color: #d2ecf9;
}

.text-delete {
	font-family: Georgia;
	font-size: 16px;
	margin-top: 10px;
	color: white;
	text-shadow: #182748 0 -1px;
	text-shadow: 1px 1px 0px #182748, -1px -1px 0px #182748, 1px -1px 0px #182748, -1px 1px 0px #182748;
}



.custom-file-input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    height: 0;
    width: 0;
}

.custom-file-label {
    cursor: pointer;
}

.custom-file-label::after {
    content: 'Выбрать файл';
    display: inline-block;
    padding: 5px 10px;
    background-color: #d2ecf9;
    border: 2px solid #182748;
    border-radius: 15px;
    color: #182748;
    font-size: 16px;
}

.custom-file-input[disabled] ~ .custom-file-label::after {
    opacity: 0.65;
    cursor: not-allowed;
}
